@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
    /* At 0% of the animation, the element will be positioned +100px on the X axis (ie 100px right)*/ }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*Represents the standard position of the element if there existed no effects.*/ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    /* At 0% of the animation, the element will be positioned +100px on the X axis (ie 100px right)*/ }
  100% {
    opacity: 1;
    transform: translate(0);
    /*Represents the standard position of the element if there existed no effects.*/ } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
    /* At 0% of the animation, the element will be positioned +100px on the X axis (ie 100px right)*/ }
  100% {
    opacity: 1;
    transform: translate(0);
    /*Represents the standard position of the element if there existed no effects.*/ } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading {
  backface-visibility: hidden; }
  .heading__primary {
    letter-spacing: .5rem;
    font-size: 6rem; }
  .heading__text--top {
    display: block;
    font-family: 'Paint the Sky';
    font-size: 12rem;
    letter-spacing: .5rem;
    color: #deb887;
    animation: moveInTop 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading__text--top {
        line-height: 1; } }
  .heading__text--center {
    display: block;
    font-family: 'Paint the Sky';
    font-size: 8rem;
    letter-spacing: .1rem;
    color: #deb887;
    animation: fadeIn 2s ease-out; }
    @media (max-width: 37.5em) {
      .heading__text--center {
        line-height: 1; } }
  .heading__text--bottom {
    display: block;
    font-family: 'Paint the Sky';
    width: 100%;
    font-size: 8rem;
    letter-spacing: .1rem;
    color: #deb887;
    animation: fadeIn 4s ease-out; }
    @media (max-width: 37.5em) {
      .heading__text--bottom {
        line-height: 1; } }
  .heading__secondary {
    text-align: center;
    font-size: 4rem;
    font-weight: 600; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-tiny {
  margin-top: 2rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover; }

.bg-video-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .85;
  overflow: hidden; }
  .bg-video-1__content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem grey;
  /*first value is x-axis shadow, second is y.  third value is the blur*/ }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(0px);
  box-shadow: 0 .5rem 1.5rem grey; }

.btn__text {
  font-size: 2rem;
  font-weight: 600; }

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  overflow: hidden; }
  .form__group {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 1rem; }
  .form__input {
    padding: .5rem .9rem;
    width: 100%; }
    .form__input--body {
      resize: none; }
  .form__label {
    font-size: 1.2rem; }

.tech-block {
  position: relative;
  height: 3rem;
  width: 6rem;
  border-radius: .3rem;
  background-color: #a4b0be;
  color: white;
  text-align: center;
  box-shadow: 0 .2rem .6rem .1rem #000000; }
  @media (max-width: 37.5em) {
    .tech-block {
      width: 8rem;
      height: 4rem; } }
  .tech-block:hover {
    transform: scale(1.25); }
  .tech-block__text {
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.about {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex; }
  @media (max-width: 37.5em) {
    .about {
      flex-direction: column;
      justify-content: center;
      align-content: center; } }
  .about__left {
    width: 50%;
    display: flex; }
    @media (max-width: 37.5em) {
      .about__left {
        width: 100%;
        height: auto; } }
  .about__right {
    width: 50%;
    padding-right: 5rem;
    padding-left: 5rem;
    font-size: 2rem;
    border-left: solid 1px black; }
    @media (max-width: 37.5em) {
      .about__right {
        border-left: none;
        width: 100%; } }
  .about__logo {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100rem;
    width: 50%;
    box-shadow: 0 .1rem .5rem #000000; }
    @media (max-width: 37.5em) {
      .about__logo {
        width: 50%;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8rem; } }
  .about__text {
    letter-spacing: .2rem; }

.contact {
  position: absolute;
  top: 10rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }
  .contact__form-area {
    height: 75%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-image: url(../../img/binding_light.png);
    box-shadow: 0 .1rem .5rem #000000; }
    .contact__form-area--text {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center; }
    @media (max-width: 37.5em) {
      .contact__form-area {
        height: 60%;
        width: 80%;
        transform: translateY(25%); } }

.footer {
  height: 20rem;
  background-color: #57606f;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden; }
  @media (max-width: 37.5em) {
    .footer {
      flex-direction: column; } }
  .footer__logo {
    width: 25%; }
    .footer__logo--img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    @media (max-width: 37.5em) {
      .footer__logo {
        display: none; } }
  .footer__text {
    width: 25%;
    font-size: 1.5rem;
    color: white;
    margin-top: 11rem; }
    @media (max-width: 37.5em) {
      .footer__text {
        width: 100%;
        text-align: center;
        margin-top: 0rem; } }

.links {
  width: 25%; }
  @media (max-width: 37.5em) {
    .links {
      width: 100%; } }
  .links__nav {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    margin-top: 7rem; }
    @media (max-width: 37.5em) {
      .links__nav {
        text-align: center;
        margin-top: 0rem; } }
    .links__nav a {
      display: inline-block;
      height: 100%; }
    .links__nav--icon {
      transition: all .3s;
      font-size: 5rem;
      color: white; }
      .links__nav--icon-github:hover {
        color: #333; }
      .links__nav--icon-linkedin:hover {
        color: #0077b5; }
      .links__nav--icon-mail:hover {
        color: #d44638; }

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .header__text {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__btn {
    position: absolute;
    width: 8rem;
    height: 12rem;
    vertical-align: bottom;
    margin-left: -4rem;
    left: 50%;
    bottom: 1.5rem;
    overflow: hidden;
    background-color: #deb887;
    animation: fadeIn 5s ease-out;
    clip-path: polygon(0 61%, 34% 61%, 24% 0, 76% 0, 66% 60%, 100% 61%, 50% 100%); }
    .header__btn:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: all .5s ease-in-out; }
    .header__btn--link, .header__btn--link:link, .header__btn--link:visited {
      text-decoration: none;
      display: inline-block;
      width: 10rem;
      height: 20rem; }

.navigation {
  position: relative;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 1.5rem;
  width: 100%;
  overflow: hidden; }
  .navigation__logo {
    position: fixed;
    top: 0;
    left: 1rem;
    margin-top: -6.5rem; }
    @media (max-width: 37.5em) {
      .navigation__logo {
        display: none; } }
    @media (max-width: 75em) {
      .navigation__logo {
        margin-top: -7.5rem; } }
    @media (max-width: 56.25em) {
      .navigation__logo {
        margin-top: -9rem; } }
  .navigation__main {
    display: flex;
    padding-top: 1rem;
    list-style: none; }
  .navigation__main li {
    margin-right: 3rem; }
  .navigation__main a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #2f3542;
    padding-bottom: 1rem;
    border-bottom: solid .2rem transparent; }
    .navigation__main a:hover {
      color: #57606f;
      border-bottom: solid 0.1rem #57606f; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a4b0be;
  box-shadow: 0 .1rem .5rem #000000;
  transition: all .2s;
  z-index: 9999; }
  .sticky a {
    transition: all .5s; }
    .sticky a:hover {
      color: #dfe4ea;
      border-bottom: solid .1rem; }

.portfolio {
  position: absolute;
  top: 8rem;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .portfolio__heading {
    padding-top: 1rem;
    text-align: center; }
    .portfolio__heading--text {
      display: inline-block;
      border-bottom: solid 2px #57606f;
      box-shadow: 0 4px 2px -2px grey; }
      @media (max-width: 37.5em) {
        .portfolio__heading--text {
          margin-top: -3rem;
          margin-bottom: 4rem; } }
  .portfolio__containter {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    height: 50vh; }
    @media (max-width: 37.5em) {
      .portfolio__containter {
        flex-direction: column;
        justify-content: center;
        align-content: center; } }
  .portfolio__item {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 25%;
    text-align: center;
    background-color: #f1f2f6;
    box-shadow: 0 .1rem .5rem #000000;
    transition: all .3s; }
    .portfolio__item:hover {
      transform: scale(1.1); }
    .portfolio__item:hover .portfolio__img {
      background-color: grey; }
    @media (max-width: 37.5em) {
      .portfolio__item {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem; } }
  .portfolio__img {
    display: inline-block;
    border-radius: .5rem;
    width: auto;
    background-color: #000;
    clip-path: polygon(0 0, 100% 0%, 100% 79.99999%, 0 95.55555%); }
    .portfolio__img--el {
      opacity: 0.6;
      height: 100%;
      width: 100%;
      border-radius: .5rem; }
  .portfolio__text {
    display: block;
    width: 95%;
    font-size: 2rem; }
    .portfolio__text--title {
      font-weight: 600; }

.skills {
  position: absolute;
  top: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column; }
  @media (max-width: 37.5em) {
    .skills {
      height: 65%; } }
  .skills__top {
    height: 50%; }
  .skills__bottom {
    height: 50%;
    display: flex;
    justify-content: space-evenly; }
    @media (max-width: 37.5em) {
      .skills__bottom {
        padding-top: 5rem; } }
  .skills__logo {
    width: 40%;
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-bottom: solid 2px #57606f;
    box-shadow: 0 4px 2px -2px grey; }
    @media (max-width: 37.5em) {
      .skills__logo {
        padding-top: 8rem;
        width: 80%; } }

.section__about {
  position: relative;
  height: 105vh;
  z-index: -1;
  background: url(../img/paper_fibers.png); }

.section__skills {
  position: relative;
  height: 100vh;
  background: url(../img/satinweave.png); }

.section__portfolio {
  position: relative;
  height: 100vh;
  background: url(../img/paper_fibers.png); }

.section__contact {
  position: relative;
  height: 100vh;
  background: url(../img/satinweave.png); }
