.header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    &__text {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__btn {
        position: absolute;
        width: 8rem;
        height: 12rem;
        vertical-align: bottom;
        margin-left: -4rem;
        left: 50%;
        bottom: 1.5rem;
        overflow: hidden;
        background-color: $font-color-solid-2;
        animation: fadeIn 5s ease-out;
        -webkit-clip-path: polygon(0 61%, 34% 61%, 24% 0, 76% 0, 66% 60%, 100% 61%, 50% 100%);
        clip-path: polygon(0 61%, 34% 61%, 24% 0, 76% 0, 66% 60%, 100% 61%, 50% 100%);

        @include respond(phone) {
            bottom: 8.5rem;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: all .5s ease-in-out;
        }

        &--link {
            &,
            &:link,   
            &:visited {
                text-decoration: none;
                display: inline-block;
                width: 10rem;
                height: 20rem;
            }
        }
    }
}
