.navigation {
    position: relative;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 1.5rem;
    width: 100%;
    overflow: hidden;

    &__logo {
        position: fixed;
        top: 0;
        left: 1rem;
        margin-top: -6.5rem;

        @include respond(phone) {
            display: none;
        }

        @include respond(tab-land) {
            margin-top: -7.5rem;
        }

        @include respond(tab-port) {
            margin-top: -9rem;
        }
    }

    &__main {
        display: flex;  
        padding-top: 1rem;
        list-style: none;
    }

    &__main li {
        margin-right: 3rem;
    }

    &__main a {
        font-size: 2.5rem;
        text-decoration: none;
        color: $font-color-dark-1;
        padding-bottom: 1rem;
        border-bottom: solid .2rem transparent;
        

        &:hover {
            color: $font-color-dark-2;
            border-bottom: solid .1rem $font-color-dark-2;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // padding-bottom: 1.5rem;
    background-color: $font-color-solid;
    box-shadow: 0 .1rem .5rem #000000;
    transition: all .2s;
    z-index: 9999;
    & a {
        transition: all .5s;

        &:hover {
            color: $font-color-light-1;
            border-bottom: solid .1rem ;
        }
    }
}
