$font-color-dark-1: #2f3542;
$font-color-dark-2: #57606f;    // Footer background
$font-color-solid: #a4b0be;    // Navigation background, tech-block background
$font-color-light-1: #dfe4ea;   // Navigation hover text
$font-color-light-2: #f1f2f6;   // Portfolio item background
$font-color-solid-2: #deb887;   // Header text & button



$default-font-size: 2rem;