@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-15rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(15rem);  /* At 0% of the animation, the element will be positioned +100px on the X axis (ie 100px right)*/
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0); /*Represents the standard position of the element if there existed no effects.*/
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);  /* At 0% of the animation, the element will be positioned +100px on the X axis (ie 100px right)*/
    }

    100% {
        opacity: 1;
        transform: translate(0); /*Represents the standard position of the element if there existed no effects.*/
    }
}
@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);  /* At 0% of the animation, the element will be positioned +100px on the X axis (ie 100px right)*/
    }

    100% {
        opacity: 1;
        transform: translate(0); /*Represents the standard position of the element if there existed no effects.*/
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    80% {
        opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}
