body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading {

    backface-visibility: hidden;

    &__primary {
        letter-spacing: .5rem;
        font-size: 6rem;

        @include respond(phone) {
            font-size: 5rem;
        }
    }

    &__text--top {
        display: block;
        font-family: 'Paint the Sky';
        font-size: 12rem;
        letter-spacing: .5rem;
        color: $font-color-solid-2;
        animation: moveInTop 1s ease-out;

        @include respond(phone) {
            line-height: 1;
        }
    }

    &__text--center {
        display: block;
        font-family: 'Paint the Sky';
        font-size: 8rem;
        letter-spacing: .1rem;
        color: $font-color-solid-2;
        animation: fadeIn 2s ease-out;

        @include respond(phone) {
            line-height: 1;
        }
    }

    &__text--bottom {
        display: block;
        font-family: 'Paint the Sky';
        width: 100%;
        font-size: 8rem;
        letter-spacing: .1rem;
        color: $font-color-solid-2;
        animation: fadeIn 4s ease-out;

        @include respond(phone) {
            line-height: 1;
        }
    }

    &__secondary {
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
    }
}

