.section__about {
    position: relative;
    height: 105vh;
    z-index: -1;
    background-color: #dfe4ea;
}

.section__skills {
    position: relative;
    height: 100vh;
    background-color: #f1f2f6;
}

.section__portfolio {
    position: relative;
    height: 100vh;
    background-color: #dfe4ea;
}

.section__contact {
    position: relative;
    height: 100vh;
    background-color: #f1f2f6;
}