.section__about {
    position: relative;
    height: 105vh;
    z-index: -1;
    // background-color: #dfe4ea;
    background: url(../img/paper_fibers.png);
}

.section__skills {
    position: relative;
    height: 100vh;
    // background-color: #f1f2f6;
    background: url(../img/satinweave.png);
    
    @include respond(tab-port) {
        height: 55vh;        
    }

    @include respond(phone) {
        height: 80vh;
    }
}

.section__portfolio {
    position: relative;
    height: 100vh;
    // background-color: #dfe4ea;
    background: url(../img/paper_fibers.png);

    @include respond(tab-port) {
        height: 55vh;        
    }

    @include respond(phone) {
        height: 94vh;
    }
}

.section__contact {
    position: relative;
    height: 100vh;
    // background-color: #f1f2f6;
    background: url(../img/satinweave.png);

    @include respond(tab-port) {
        height: 55vh;        
    }

    @include respond(phone) {
        height: 95vh;
    }
}